@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-unbounded), sans-serif;
}

:root {
  --background: #EEEEEE;
  --foreground: #171717;
}

body {
  background: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}
